<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1512, 553}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Helvetica</string>
			<key>Size</key>
			<real>12</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-01-27 21:03:47 +0000</string>
	<key>Creator</key>
	<string>mlincoln</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>174</integer>
			<key>Points</key>
			<array>
				<string>{615.69528198242188, 153.50343322753906}</string>
				<string>{795.69528198242188, 97.503433227539062}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>6</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>173</integer>
			<key>Points</key>
			<array>
				<string>{621.89447021484375, 90.503433227539062}</string>
				<string>{803.30466014146805, 159.49656224250793}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>6</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{697.58770751953125, 225.63544845581055}, {164, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.967391</string>
					<key>g</key>
					<string>0.967391</string>
					<key>r</key>
					<string>0.967391</string>
				</dict>
				<key>Font</key>
				<string>Cochin</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>176</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Rotation</key>
			<real>333</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>75</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>0</integer>
					<key>Offset</key>
					<string>{0.53009159490171609, -0}</string>
					<key>Scale</key>
					<real>0.16376261413097382</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.435123</string>
						<key>g</key>
						<string>0.451087</string>
						<key>r</key>
						<string>0.177696</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>CornerRadius</key>
					<real>5</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Cochin;}
{\colortbl;\red255\green255\blue255;\red247\green247\blue247;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs36 \cf2 Stub!}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{54.999998092651367, 62}, {154, 52}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.501961</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Arial-Black</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>164</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Arial-Black;}
{\colortbl;\red255\green255\blue255;\red0\green128\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs36 \cf2 implementation\
boundary}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>163</integer>
			<key>Points</key>
			<array>
				<string>{226.5, 62}</string>
				<string>{226, 396}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.501961</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Join</key>
					<integer>2</integer>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>4</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{663.00000762939453, 99}, {93, 52}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.501961</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Arial-Black</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>106</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Arial-Black;}
{\colortbl;\red255\green255\blue255;\red0\green128\blue0;\red255\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs36 \cf2 remote\cf2 \
boundary}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>104</integer>
			<key>Points</key>
			<array>
				<string>{636.5, 60}</string>
				<string>{636, 394}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.501961</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Join</key>
					<integer>2</integer>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>4</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{245.37459809957784, 149.76748380599085}, {52, 52}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>162</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>156</integer>
				<key>Position</key>
				<real>0.35389086604118347</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{244, 302}, {52, 52}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>161</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>160</integer>
			<key>Points</key>
			<array>
				<string>{194, 321.24999618530273}</string>
				<string>{293, 316.5000114440918}</string>
				<string>{391, 249}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>91</integer>
			</dict>
			<key>ID</key>
			<integer>156</integer>
			<key>Points</key>
			<array>
				<string>{194, 176.25001525878906}</string>
				<string>{293, 181}</string>
				<string>{391, 248.5000114440918}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>94</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{284, 224.5}, {52, 52}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>145</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>91</integer>
			</dict>
			<key>ID</key>
			<integer>153</integer>
			<key>Points</key>
			<array>
				<string>{194, 244.25001525878906}</string>
				<string>{391, 248.5000114440918}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>29</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{391, 223.5000114440918}, {164, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.967391</string>
					<key>g</key>
					<string>0.967391</string>
					<key>r</key>
					<string>0.967391</string>
				</dict>
				<key>Font</key>
				<string>Cochin</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>91</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>ManualSizeImage</key>
			<string>YES</string>
			<key>Offset</key>
			<string>{0.53009159490171609, -0}</string>
			<key>Scale</key>
			<real>0.16376261413097382</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>75</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>0</integer>
					<key>Offset</key>
					<string>{0.53009159490171609, -0}</string>
					<key>Scale</key>
					<real>0.16376261413097382</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.435123</string>
						<key>g</key>
						<string>0.451087</string>
						<key>r</key>
						<string>0.177696</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>CornerRadius</key>
					<real>5</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Cochin;}
{\colortbl;\red255\green255\blue255;\red247\green247\blue247;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs36 \cf2 Pacto\

\fs28 (Validate)}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>137</integer>
			<key>Points</key>
			<array>
				<string>{555, 250.13545227050781}</string>
				<string>{700, 250.13545227050781}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{504, 401}, {2, 12}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>123</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{30, 151.25001525878906}, {164, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.967391</string>
					<key>g</key>
					<string>0.967391</string>
					<key>r</key>
					<string>0.967391</string>
				</dict>
				<key>Font</key>
				<string>Cochin</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>94</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{0.5, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.657609</string>
						<key>g</key>
						<string>0.320408</string>
						<key>r</key>
						<string>0.0609035</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>75</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.23913</string>
						<key>g</key>
						<string>0.110747</string>
						<key>r</key>
						<string>0.0679521</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.435123</string>
						<key>g</key>
						<string>0.451087</string>
						<key>r</key>
						<string>0.177696</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>CornerRadius</key>
					<real>5</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Cochin;}
{\colortbl;\red255\green255\blue255;\red247\green247\blue247;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs36 \cf2 Consumer\

\fs28 (Billing)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{30, 295.75001525878906}, {164, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.967391</string>
					<key>g</key>
					<string>0.967391</string>
					<key>r</key>
					<string>0.967391</string>
				</dict>
				<key>Font</key>
				<string>Cochin</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>93</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{0.5, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.657609</string>
						<key>g</key>
						<string>0.320408</string>
						<key>r</key>
						<string>0.0609035</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>75</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.23913</string>
						<key>g</key>
						<string>0.110747</string>
						<key>r</key>
						<string>0.0679521</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.435123</string>
						<key>g</key>
						<string>0.451087</string>
						<key>r</key>
						<string>0.177696</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>CornerRadius</key>
					<real>5</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Cochin;}
{\colortbl;\red255\green255\blue255;\red247\green247\blue247;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs36 \cf2 Consumer\

\fs28 (Marketing)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{700, 223.13545227050781}, {164, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.967391</string>
					<key>g</key>
					<string>0.967391</string>
					<key>r</key>
					<string>0.967391</string>
				</dict>
				<key>Font</key>
				<string>Cochin</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>92</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.657609</string>
						<key>g</key>
						<string>0.320408</string>
						<key>r</key>
						<string>0.0609035</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>75</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.23913</string>
						<key>g</key>
						<string>0.110747</string>
						<key>r</key>
						<string>0.0679521</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.435123</string>
						<key>g</key>
						<string>0.451087</string>
						<key>r</key>
						<string>0.177696</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>CornerRadius</key>
					<real>5</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Cochin;}
{\colortbl;\red255\green255\blue255;\red247\green247\blue247;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs36 \cf2 Service Provider\

\fs28 (Customer Data)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{30, 219.25001525878906}, {164, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.967391</string>
					<key>g</key>
					<string>0.967391</string>
					<key>r</key>
					<string>0.967391</string>
				</dict>
				<key>Font</key>
				<string>Cochin</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>29</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{0.5, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.657609</string>
						<key>g</key>
						<string>0.320408</string>
						<key>r</key>
						<string>0.0609035</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>75</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.23913</string>
						<key>g</key>
						<string>0.110747</string>
						<key>r</key>
						<string>0.0679521</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.435123</string>
						<key>g</key>
						<string>0.451087</string>
						<key>r</key>
						<string>0.177696</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>CornerRadius</key>
					<real>5</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Cochin;}
{\colortbl;\red255\green255\blue255;\red247\green247\blue247;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs36 \cf2 Consumer\

\fs28 (Order Fulfillment)}</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.png</string>
		<string>image3.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-02-05 20:09:38 +0000</string>
	<key>Modifier</key>
	<string>mlincoln</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{792, 612}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{0, 89}, {1440, 692}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {1291, 538}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
