
$base-font-size: 106.25% !default; //17px
$base-line-height: 1.5; //29.7

// This is the default html and body font-size for the base em value.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

// Change whether or not you include browser prefixes
// $experimental: true;

// Various global styles

$default-float: left;


////
// STYLES
$body-font-color: #444;
// $body-font-family: 'Maven Pro', sans-serif;
$body-font-weight: 400;
$body-font-style: normal;


// Control whether or not CSS classes come through in the CSS files.
// NOTE: you notice a lot of foundation assets are not included, since they're not needed for the template. 
// You may include them if you want.
// 
$include-html-type-classes: true; //!! SHOULD BE FALSE, WHEN USING '_typography.scss'
$include-html-button-classes: true;
$include-html-form-classes:true;
$include-html-custom-form-classes: true;
$include-html-media-classes:true;
$include-html-section-classes:true;
$include-html-orbit-classes: true;
$include-html-reveal-classes:true;
$include-html-joyride-classes:true;
$include-html-clearing-classes:true;
$include-html-alert-classes:true;
$include-html-nav-classes: true;
$include-html-label-classes:true;
$include-html-panel-classes: true;
$include-html-pricing-classes:true;
$include-html-progress-classes: true;
$include-html-magellan-classes: true;
$include-html-tooltip-classes: true;


// Media Queries

$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";
