// Make sure the charset is set appropriately
@charset "UTF-8";


@import "compass/layout.scss";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

body {
	font-family:'Maven Pro', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased; 
	color: #444;

	//together with minimal javascript this ensures no css transitions fire on pageload.
	//from: http://css-tricks.com/transitions-only-after-page-load/
	&.preload * {
	  -webkit-transition: none !important;
	  -moz-transition: none !important;
	  -ms-transition: none !important;
	  -o-transition: none !important;
	}

}


//compass mixin: http://compass-style.org/reference/compass/layout/sticky_footer/
//See url for required markup
@include sticky-footer(6em, "#layout", "#layout_footer", "#footer");

////////////
//TYPOGRAPHY
h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif; 
	font-weight: 400;
	color: #333;
}

a, a:link{
	cursor: pointer
}

////////////
// LAYOUT
#layout{
	//makes sure body-height: 100% doesn't show vertical scrollbar when not needed
	overflow: auto; 
}


////////////
//COMPONENTS

$backCol: #13A3C7;
$backColDarkGrad: darken($backCol, 15%);
$colDarken: darken($backCol, 20%);

.container.top-bar {
	margin-bottom: 0;
	.top-bar-section{
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		li a:not(.button):hover, li.active a:not(.button){ 
			background: #222;
		}
	}
}

header{
	background: $backCol;
	padding: 1.5em 0;
	&.tall{
		padding: 4.5em 0;
   		@include box-shadow(inset 0 -50px 100px $backColDarkGrad);
   		
		//NOTE: this media-query aligns with $@media #{$small}{} as defined in 
		//http://foundation.zurb.com/docs/media-queries.html
		//If you know a way, help at
		//https://github.com/clearskyabove/docpad/issues/1
   		@media only screen and (min-width :768px){
			padding: 7.5em 0;
			@include transition(all 0.2s ease-in-out);
   		}
	}
	h1, h3{
		@include transition(all 0.2s ease-in-out);
	}
	h1{
		color: white;
		margin: 0;
	}
	h3, .amp{
		margin: 0;
		font-family: 'Maven Pro';
		color: $colDarken;
	}
	a{
		color: $colDarken;
		&:hover{
			color: $colDarken;
			text-decoration: underline;
		}
	}
	margin-bottom: 2em;
}


#footer {
	color: lighten($backCol, 10%);
	background: $backColDarkGrad;
	div, li{
		line-height: 1.5em ;
	}
	.right{
		a{
			color: lighten($backCol, 50%);
			&:hover{
				text-decoration: underline;
			}
		}
		//https://github.com/clearskyabove/docpad/issues/1
		@media only screen and (max-width :767px){
			float: none !important;
   		}
	}
}







